<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aplicação Django</title>
  </head>
  <body>
    <h1>Tags de Templates do Django</h1>
    <p>Exemplo com tags para variáveis:</p>
    <ul>
        <li><b>Nome:</b> {{ nome }} </li>
        <li><b>Idade:</b> {{ idade }} </li>
        <li><b>E-mail:</b> {{ email }} </li>
        <li><b>Telefone:</b> {{ telefone }} </li>
        <li><b>Usuário Ativo:</b> {{ usuarioativo }} </li>
    </ul>
    <p>Exemplo com tags para condicional:</p>
    {% if condicional == 1 %}
        <b>Programação</b>
    {% elif condicional == 2 %}
        <b>Web</b>
    {% else %}
        <b>UFLA</b>
    {% endif %}
    <p>Exemplo com tags para repetição:</p>
    <ul>
        {% for x in numeros %}
            <li>{{ x }}</li>
        {% endfor %}
    </ul>

    <a href="{%url 'app:home'%}">Voltar home app</a>
  </body>
</html>